In [2]:
%config IPCompleter.greedy=True

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pandas

In [4]:
data = pandas.read_csv("./sample_fake_salary_data.csv", ",")

In [5]:
data.head()

   age  is_male  yrs_experience  knows_ml  salary
0   65        1              28         1  180515
1   85        1              40         0  192190
2   78        0               8         1  222211
3   48        1              34         1  221250
4   58        0              18         1  201975

In [6]:
#plt.plot(data.iloc[:,0]);

In [23]:
#data.columns.size
X = data.iloc[:,0:data.columns.size - 1]
Y = data.iloc[:,data.columns.size-1]

In [26]:
X.head()

   age  is_male  yrs_experience  knows_ml
0   65        1              28         1
1   85        1              40         0
2   78        0               8         1
3   48        1              34         1
4   58        0              18         1

In [27]:
Y.head()

0    180515
1    192190
2    222211
3    221250
4    201975
Name: salary, dtype: int64

In [78]:
def gd(X, Y, iters = 1000, lr = 0.000001):
    # we are minimizing the function MSE = (Y - Y^)^2
    # let Y = predictor
    # let Y^_i = w0x0 + w1x1 + w2x2 + ... + wnxn
    # lets define a cost function J to = the partial derivative of Y with respect to Y^
    # we can break this up with math like the following
    # J = (pdY / pdY^ ) * (pdY^ / pdw)
    # (pdY / pdY^) = 2(Y - Y^) * (-1)
    # (pdY^ / pdw) = x_i
    # finally our cost function J = 2 (Y - Y^) * (-X)
    # ^^^ is the vectorized form of all X. We can use sigma notation like the below
    # J = (sigma from 0-n) (Yi -Y^i) * (-Xi) 
    
    # gradient decent
    # w = lr*cost + w
    
    w = np.random.rand(X.columns.size)    
    costs = []
    
    index = 0;
    while(index < iters):
        Y_hat = X.dot(w)                
        delta = Y - Y_hat;                    
        cost = X.dot(delta)
        print(cost)
        w = (lr * cost) + w;
        
        #cost = -X.T.dot(delta);
        costs.append(cost);

        index = index + 1;
        print(delta)
    
    #plt.plot(costs);
    plt.plot(costs);
    plt.figure();
    plt.plot(Y);
    plt.plot(Y_hat);
    return;

In [79]:
gd(X,Y, 10)

ValueError: matrices are not aligned